
/* //#205e86 */
.color{color:#205e86}
body {
  background-color: #ffffff;
  /* color: #333; */
  font-family: "Segoe UI", sans-serif;
}

h1, h2, h3 {
  color: #18547a;
}

.btn-primary {
  background-color: #18547a;
  color: #fff;
}

.section-highlight {
  background-color: #c7f6f4;
}
@media screen and (max-width: 414px) {
  header a,
  footer .LMS {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
     color:#18547a
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-brand img {
    height: 60px;
  }
}

.login-box {
  max-width: 400px;
  margin: auto;
  margin-top: 80px;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.about-section {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.feature-icon {
  width: 40px;
  margin-right: 10px;
}
.contact-section {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.form-container {
  max-width: 500px;
  margin: 100px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.courseCard {
  transition: transform 0.3s ease;
  border-radius: 1rem;
   width: 18rem;
}
.courseCard:hover {
  transform: translateY(-5px);
}
 .heigthProgress{ height: "20px";}
.stdcourseAside{
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  overflow-y: auto;
  border-right: 1px solid #ccc;

}
  @media print {
    /* Hide print button */
    .no-print {
      display: none !important;
    }
    /* Hide buttons, nav, and footer */
    button, nav, footer, .no-print {
      display: none !important;
    }
    /* Make container full width for print */
    body, .container {
      width: 100%;
      margin: 0;
      padding: 0;
      color: black !important;
      background: white !important;
    }
    /* Optimize canvas and table printing */
    canvas {
      max-width: 100% !important;
      page-break-inside: avoid;
    }
    table {
      page-break-inside: avoid;
    }
  }
  .feature-icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 15px;
}
.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}
.course-slide {
  position: relative;
  cursor: pointer;
}

.hover-description {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.course-slide:hover .hover-description,
.course-slide.group-hover-opacity:hover .hover-description {
  opacity: 1;
  z-index: 10;
}

